<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        * {
            margin: 0%;
            padding: 0%;
        }

        .container {
            max-width: 1180px;
            padding: 0px 20px;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
        }

        .Hero-banner {
            padding: 40px 0px;
        }

        .hero-wrapper {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        .hero-left {
            width: 50%;
        }

        .hero-content h2 {
            font-size: 50px;
            color: #000000;
            font-weight: 600;
        }

        .hero-content p {
            padding: 15px 0px;
            font-size: 18px;
            font-weight: 500;
        }

        .hero-right {
            width: 50%;
        }

        .hero-img img {
            width: 100%;
        }

        .hero-btn {
            display: flex;
            flex-wrap: nowrap;
        }

        .btn-right a {
            margin-left: 15px;
        }

        .primary-1 {
            text-decoration: none;
            display: inline-block;
            background-color: #0c426e;
            border: 2px solid #0c426e;
            padding: 13px 30px;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: #ffffff;
            text-align: center;
        }
        .primary-1:hover {
            color: #ffffff;
        }

        /* .primary-2 {
            text-decoration: none;
            display: inline-block;
            background-color: #000000;
            border: 2px solid #000000;
            padding: 13px 30px;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            color: #ffffff;
            text-align: center;
            transition: 0.5s ease all;
        } */
        .btn-right {
            margin-top: 13px;
        }
        .btn-right a {
            color: white;
            text-decoration: none;
            background-color: black;
            padding: 12px 34px;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            border: 2px solid black;
            
        }

        .btn-right a:hover {
            background-color: #0c426e;
            border: 2px solid #0c426e;
        }

        
    </style>

</head>

<body>
    <a href="/login">Logout</a>
    <div>
        <h1> Hello </h1>
    </div>
    <section class="Hero-banner">
        <div class="container">
            <div class="hero-wrapper">
                <div class="hero-left">
                    <div class="hero-content">
                        <h2>Keep your Clean Cars Always</h2>
                        <p>There are many variations of passages of Lorem Ipsum available</p>
                        <div class="hero-btn">
                            <div class="btn-left">
                                <a href="#" class="primary-1">Get A Qaote</a>
                            </div>
                            <div class="btn-right">
                                <a href="#" class="primary-2">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="hero-right">
                    <div class="hero-img">
                        <img src="/public/banner-img-2.png" alt="Washing Car">
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div></div>
        </div>
    </section>
</body>

</html>